.bear .markdown a {
  @apply text-red-500;
}

.bear .markdown h1,
.bear .markdown h2,
.bear .markdown h3,
.bear .markdown h4 {
  @apply font-bold relative text-gray-800;
}

.bear .markdown h1,
.bear .markdown h2,
.bear .markdown h3,
.bear .markdown h4 {
  @apply mt-7;
}

.bear .markdown h1::before,
.bear .markdown h2::before,
.bear .markdown h3::before,
.bear .markdown h4::before {
  @apply absolute text-sm text-gray-400 -left-7 bottom-1;
}

.bear .markdown h1 {
  @apply text-3xl;
}

.bear .markdown h1::before {
  content: "H1";
}

.bear .markdown h2 {
  @apply text-2xl;
}

.bear .markdown h2::before {
  content: "H2";
}

.bear .markdown h3 {
  @apply text-xl;
}

.bear .markdown h3::before {
  content: "H3";
}

.bear .markdown h3 {
  @apply text-xl;
}

.bear .markdown h4 {
  @apply text-lg;
}

.bear .markdown h4::before {
  content: "H4";
}

.bear .markdown p {
  @apply mt-6;
}

.bear .markdown h2 + p,
.bear .markdown h3 + p,
.bear .markdown h4 + p {
  @apply mt-4;
}

.bear .markdown ul,
.bear .markdown ol {
  @apply mt-2 pl-5;
}

.bear .markdown ul {
  @apply list-disc;
}

.bear .markdown ul > li::marker {
  @apply text-red-500;
}

.bear .markdown ol {
  @apply list-decimal;
}

.bear .markdown li p {
  @apply m-0 mb-2;
}

.bear .markdown code {
  @apply text-sm border border-gray-300 rounded py-0.5 px-1 bg-gray-50;
}

.bear .markdown pre {
  @apply mt-2 text-sm;
}

.bear .markdown pre code {
  @apply text-sm;
}

.dark .bear .markdown pre code {
  font-size: 14px !important;
}

.bear .markdown pre div {
  @apply border border-gray-300 rounded;
}

.bear .markdown pre code,
.dark .bear .markdown pre code {
  @apply text-base bg-transparent border-none p-0;
}

.bear .markdown .token {
	background: transparent !important;
}

.bear .markdown img {
  @apply inline-block;
}

.bear .markdown table {
  @apply mt-4 block w-full overflow-auto;
}

.bear .markdown table td,
.bear .markdown table th {
  @apply px-3 py-2 border border-gray-300;
}

.bear .markdown table tr {
  @apply border-t border-gray-300 bg-transparent;
}

/**
 * To avoid circular dependency error (I don't know how it coms ), here I
 * don't use tailwindcss's @apply.
 */
html.dark .bear .markdown,
html.dark .bear .midbar {
  background-color: rgb(31 41 55);
}

html.dark .bear .midbar li.bg-white,
html.dark .bear .midbar li:hover {
  background-color: rgb(17 24 39);
}
