/* --------- input --------- */

.login input::placeholder {
  color: white;
}

.spotlight input::placeholder {
  @apply text-black opacity-40;
}

/* --------- spotlight --------- */

.spotlight {
  width: 660px;
  margin-left: -330px;
  left: 50%;
}

@media (max-width: 639px) {
  .spotlight {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

/* --------- app window --------- */

.window-bound {
  width: 300%;
  height: 200%;
  left: -100%;
}

.innner-window {
  height: calc(100% - 1.5rem);
}

.safari-content {
  height: calc(100% - 2rem);
}

.traffic_lights svg {
  @apply hidden;
}

.traffic_lights:hover svg {
  @apply block;
}

/* --------- dock --------- */

.dock ul {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
}

.dock li .tooltip {
  @apply hidden;
  top: calc(-100% - 5px);
}

.dock li:hover .tooltip {
  @apply block;
  box-shadow: hsla(0deg, 0%, 0%, 20%) 0px 1px 5px 2px, 0 0 0 0 white;
}

/* --------- control center --------- */

.control-grid {
  @apply bg-gray-200 bg-opacity-80 rounded-xl backdrop-blur-2xl;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* --------- slider --------- */

.slider .rangeslider {
  @apply bg-gray-300 w-full h-7 shadow-none m-0 rounded-r-full border-t border-r border-b border-transparent;
}

.slider .rangeslider .rangeslider__fill {
  @apply bg-gray-100 shadow-none rounded-none;
}

.slider .rangeslider .rangeslider__handle {
  @apply border border-gray-300 outline-none h-7 w-7;
  background-color: #fff;
  color: #fff;
  box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
}

.slider .rangeslider .rangeslider__handle::after {
  @apply hidden;
}


/*
  Credits: W3 Schools: https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch-toggle {
  width: 38px;
  @apply relative inline-block h-full;
}

/* Hide default HTML checkbox */
.switch-toggle input {
  @apply w-0 h-0 opacity-0;
}

/* The slider */
.slider-toggle {
  @apply absolute rounded-full bg-gray-300 top-0 left-0 right-0 bottom-0 cursor-pointer duration-300;
}

.slider-toggle:before {
  content: "";
  background-color: white;
  height: 18px;
  width: 18px;
  bottom: 2px;
  left: 2px;
  @apply absolute rounded-full duration-300;
}

input:checked + .slider-toggle {
  background-color: #2196F3;
}

input:focus + .slider-toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-toggle:before {
  @apply transform translate-x-4;
}

/* --------- battery --------- */

.battery-level {
  @apply absolute h-2 top-1/2 -mt-1 left-0;
  margin-left: 0.1rem;
  border-radius: 1px;
}
