/* --------- Login --------- */

.login input::placeholder {
  @apply text-white;
}

/* --------- spotlight --------- */

.spotlight {
  @apply fixed z-20 h-max top-1/4 -mt-16 w-165 -ml-82.5 left-1/2 rounded-lg backdrop-blur-2xl shadow-2xl shadow-black/40 c-bg-100/80 border menu-border;
}

.spotlight input::placeholder {
  @apply c-text-black/40;
}

.spotlight .spotlight-type {
  @apply relative hstack pl-2.5 py-2 text-xs leading-none c-text-500 font-medium;
}

@media (max-width: 639px) {
  .spotlight {
    @apply w-full ml-0 left-0;
  }
}

/* --------- app window --------- */

.window-bound {
  width: 300%;
  height: 200%;
  left: -100%;
}

.innner-window {
  height: calc(100% - 1.5rem);
}

.safari-content {
  height: calc(100% - 2rem);
}

.traffic-lights .icon {
  @apply hidden;
}

.traffic-lights:hover .icon {
  @apply block;
}

/* --------- dock --------- */

.dock ul {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
}

.dock li .tooltip {
  @apply hidden;
  top: calc(-100% - 5px);
}

.dock li:hover .tooltip {
  @apply block;
  box-shadow: hsla(0deg, 0%, 0%, 20%) 0px 1px 5px 2px, 0 0 0 0 white;
}

/* --------- slider --------- */

.slider .rangeslider {
  @apply c-bg-300 w-full h-7 shadow-none m-0 rounded-r-full border-t border-r border-b border-transparent;
}

.slider .rangeslider .rangeslider__fill {
  @apply c-bg-100 shadow-none rounded-none;
}

.slider .rangeslider .rangeslider__handle {
  @apply border c-border-300 outline-none h-7 w-7 text-white bg-white;
  box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
}

.slider .rangeslider .rangeslider__handle::after {
  @apply hidden;
}


/*
  Credits: W3 Schools: https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch-toggle {
  @apply relative inline-block h-full w-9.5;
}

/* Hide default HTML checkbox */
.switch-toggle input {
  @apply w-0 h-0 opacity-0;
}

/* The slider */
.slider-toggle {
  @apply absolute rounded-full bg-gray-400/50 top-0 left-0 right-0 bottom-0 cursor-pointer duration-300;
}

.slider-toggle:before {
  @apply content-[""] absolute rounded-full bg-white bottom-0.5 left-0.5 w-4.5 h-4.5 duration-300;
}

input:checked + .slider-toggle {
  @apply bg-blue-500;
}

input:checked + .slider-toggle:before {
  @apply translate-x-4;
}

input:focus + .slider-toggle {
  box-shadow: 0 0 1px #3b82f6;
}
