* {
  margin: 0;
  padding: 0;
  font-family: Jost, SFCompactRounded, -apple-system, Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.blur {
  backdrop-filter: blur(40px);
}

.transition-hw {
  transition-property: height, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

.filter-invert {
  filter: invert();
}

/* --------- login --------- */

.login input::placeholder {
  color: white;
}

/* --------- app window --------- */

.innner-window {
  height: calc(100% - 1.5rem);
}

.traffic_lights svg {
  display: none;
}

.traffic_lights:hover svg {
  display: block;
}

/* --------- dock --------- */

.dock ul {
  height: 65px;
}

.dock li .tooltip {
  display: none;
}

.dock li:hover .tooltip {
  display: block;
  box-shadow: hsla(0deg, 0%, 0%, 20%) 0px 1px 5px 2px, 0 0 0 0 white;
}

/* --------- slider --------- */

.slider .rangeslider {
  margin: 0 !important;
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  box-shadow: none;
}
.slider .rangeslider .rangeslider__fill {
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
}
.slider .rangeslider .rangeslider__handle {
  background-color: #fff;
  color: #fff;
  box-shadow: -5px 0px 10px 0px rgba(17, 17, 17, 0.2);
  border: none;
  outline: none;
}
.slider .rangeslider .rangeslider__handle::after {
  display: none;
}
